## Importing Necessary Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('infolimpioavanzadoTarget.csv')

In [3]:
df = data.copy()

In [4]:
df.shape

(7781, 1285)

In [5]:
df.head()

,date,open,high,low,close,adjclose,volume,ticker,RSIadjclose15,RSIvolume15,...,high-15,K-15,D-15,stochastic-k-15,stochastic-d-15,stochastic-kd-15,volumenrelativo,diff,INCREMENTO,TARGET
0,2022-01-03,17.799999,18.219000,17.500000,17.760000,17.760000,106600,ASLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.919758,-1.900001,-9.664295,0
1,2022-01-04,17.700001,18.309999,17.620001,17.660000,17.660000,128700,ASLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.110440,-1.379999,-7.247895,0
2,2022-01-05,17.580000,17.799999,16.910000,16.950001,16.950001,103100,ASLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.889560,-0.930000,-5.201344,0
3,2022-01-06,16.650000,16.879999,16.139999,16.170000,16.170000,173600,ASLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.497843,-0.360000,-2.177856,0
4,2022-01-07,16.219999,16.290001,15.630000,15.710000,15.710000,137800,ASLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.188956,-0.120000,-0.758054,0

In [6]:
df['TARGET'].unique()

array([0, 1], dtype=int64)

In [7]:
df.isna().sum()

date                  0
open                  0
high                  0
low                   0
close                 0
                   ...
stochastic-kd-15    587
volumenrelativo     215
diff                155
INCREMENTO          155
TARGET                0
Length: 1285, dtype: int64

*Using only those columns which do not have null values.*

In [8]:
use = [col for col in df.columns if df[col].isna().sum() == 0]

In [9]:
df1 = df[use]
df1.head()

,date,open,high,low,close,adjclose,volume,ticker,feargreed,emaadjclose5,emaadjclose10,emaadjclose15,emaadjclose50,atr5,atr10,atr15,atr20,velaE,velaF,TARGET
0,2022-01-03,17.799999,18.219000,17.500000,17.760000,17.760000,106600,ASLE,29,0.000000,0.000000,0.000000,0.000000,0.719000,0.719000,0.719000,0.719000,-0.039999,-0.039999,0
1,2022-01-04,17.700001,18.309999,17.620001,17.660000,17.660000,128700,ASLE,23,0.003775,0.004633,0.004955,0.005440,0.713200,0.716100,0.717066,0.717550,-0.040001,-0.040001,0
2,2022-01-05,17.580000,17.799999,16.910000,16.950001,16.950001,103100,ASLE,24,0.030547,0.038221,0.041169,0.045691,0.748560,0.733490,0.728595,0.726172,-0.629999,-0.629999,0
3,2022-01-06,16.650000,16.879999,16.139999,16.170000,16.170000,173600,ASLE,15,0.053506,0.072248,0.079968,0.092363,0.760848,0.741141,0.734022,0.730364,-0.480000,-0.480000,0
4,2022-01-07,16.219999,16.290001,15.630000,15.710000,15.710000,137800,ASLE,18,0.056235,0.084799,0.097642,0.119472,0.740679,0.733027,0.729088,0.726846,-0.509999,-0.509999,0

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7781 entries, 0 to 7780
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           7781 non-null   object
 1   open           7781 non-null   float64
 2   high           7781 non-null   float64
 3   low            7781 non-null   float64
 4   close          7781 non-null   float64
 5   adjclose       7781 non-null   float64
 6   volume         7781 non-null   int64
 7   ticker         7781 non-null   object
 8   feargreed      7781 non-null   int64
 9   emaadjclose5   7781 non-null   float64
 10  emaadjclose10  7781 non-null   float64
 11  emaadjclose15  7781 non-null   float64
 12  emaadjclose50  7781 non-null   float64
 13  atr5           7781 non-null   float64
 14  atr10          7781 non-null   float64
 15  atr15          7781 non-null   float64
 16  atr20          7781 non-null   float64
 17  velaE          7781 non-null   float64
 18  velaF          7781 non-null   float64
 19  TARGET         7781 non-null   int64
dtypes: float64(15), int64(3), object(2)
memory usage: 1.2+ MB

## Final Preprocessing

In [11]:
X = df1.drop('TARGET', axis = 1)
y = df['TARGET']

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['date'] = le.fit_transform(X['date'])
X['ticker'] = le.fit_transform(X['ticker'])

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [14]:
num_cols = [col for col in df1.columns if (df[col].dtype == 'int64' or df[col].dtype == 'float64') & (col != 'TARGET')]

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X[num_cols] = sc.fit_transform(X[num_cols])

## Modelling

In [16]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [17]:
model.score(X_test, y_test)

0.815028901734104